@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

body{
    display:flex;
    margin:0;
    font-family: 'Overpass', sans-serif;
}
#left {
    width: 40vw;
    height: 100vh;
    background: url(SmallDonut.jpg);
    background-size: 1920px auto;
    background-position: 46% center ;
}

.logoCont{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 170px;
    background-color: rgba(255, 255, 255, 0.2);
}

.logo{
    max-height: 100px;
    max-width: auto;
}

#right {
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 231, 231);
   
   
}

#signUp{
    display: flex;
    background-color: rgba(255, 255, 255, 0.644);
    gap: 50px;
    font-size: 15px;
    padding: 60px;
    padding-top: 30px;
    box-shadow: 10px 4px 8px #888888;
}

#rightForm{
    display: flex;
    flex-direction: column;
    
}

#leftForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.infoCont{
    padding-top: 100px;
    font-family: 'Overpass', sans-serif;
    font-size: 25px;
    padding-left: 60px;

}

.buttonCont{
    padding-left: 60px;
    padding-top: 20px;

}


button{
    height: 30px;
    width: 180px;
    border: none;
    border-radius: 8px;
    background-color: rgb(242, 202, 239);
}

label{
    padding-top: 30px;
}

input{
    height: 20px;
    border-radius: 8px;
    border: 2px solid rgb(242, 202, 239);
}

a{
    color: rgb(242, 202, 239);
    text-decoration: none;
    font-weight: bold;
}

fieldset{
    border: none;
}



button:hover{
    background-color: rgb(233, 192, 230);
}

button:active{
    box-shadow: 2px 2px 8px #888888 inset;
}

@media (max-width: 945px) {
    .logoCont{
        flex-direction: column
    }
}

@media (max-width:840px){
    body{
        flex-direction: column;
        margin: 0;
    }

    #left{
        width:100%;
        height: 20vh;
        background-size: 640px auto;
        background-position: 10% center;
    }
    .logoCont{
        position:static;
        flex-direction: row;
        background-color: none;
    }

    #right{
        padding:0;
    }

    #signUp{
        display: flex;
        padding: 0;
        gap: 1px;
        box-shadow:none;
        justify-content: center;
    }

    .buttonCont{
        height: 30vh;
        padding: 5px;
        padding-top: 20px;
    }
    
    .infoCont{
        padding: 5px;
        font-size: 18px;
        
    }
}
    
